PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/mern_auth_starter
JWT_SECRET=super_secret_key_change_me
CLIENT_URL=http://localhost:5173
CLIENT_APP_URL=http://localhost:5173
NODE_ENV=development
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_PRICE_STARTER_MONTHLY=price_xxx
STRIPE_PRICE_STARTER_YEARLY=price_xxx
STRIPE_PRICE_PRO_MONTHLY=price_xxx
STRIPE_PRICE_PRO_YEARLY=price_xxx
STRIPE_PRICE_ENTERPRISE_MONTHLY=price_xxx
STRIPE_PRICE_ENTERPRISE_YEARLY=price_xxx
STRIPE_CREDIT_OVERAGE_PRICE=price_xxx
STRIPE_CREDIT_USAGE_METER_EVENT=credits_used
STRIPE_ONE_TIME_PREMIUM_TEMPLATE_PRICE=price_xxx
